@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

:root {
    --main-yellow-color: #cc9933;
    --main-dark-color: #414141;
    --header-color: #333333;
    --light-grey-color: #666666;
}

.btn {
    display: inline-block;
    padding: 28px 30px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    background-color: var(--main-yellow-color);
    border: 0;
    border-radius: 12px;
    cursor: pointer;
}

.btn-yellow {
    transition-property: background-color;
}

.btn-yellow:hover {
    background-color: var(--main-dark-color);
    box-shadow: 0 0 5px var(--main-dark-color);
    transform: translate(3px, 3px);
}

.btn-yellow-border {
    transition-property: background color;
}

.btn-yellow-border:hover {
    background: var(--main-yellow-color);
    color: #fff;
    box-shadow: 0 0 5px var(--main-yellow-color);
    transform: translate(3px, 3px);
}

.header {
    margin-top: 0;
    margin-left: 45px;
    margin-bottom: 23px;
    font-size: 40px;
    line-height: 32px;
    font-weight: 400;
    color: var(--header-color);
}

.input::placeholder {
    font-size-adjust: 16px;
    line-height: 32px;
    color: #c5c5c5;
}

.social-link_dark {
    transition-property: color;
}


/* Header */

.head {
    height: 256px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.head-top {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 54px;
}

.head-left {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 28px;
    width: 262px;
    height: 54px;
}

.head-phone {
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: var(--light-grey-color);
    transition-property: color;
}

.head-phone:hover {
    color: var(--main-yellow-color);
}

.head-right {
    margin-left: auto;
    font-size: 16px;
    line-height: 32px;
    color: var(--main-yellow-color);
    transition-property: color;
}

.head-right:hover {
    color: var(--main-dark-color);
}

.arrow-circle-icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 3px;
    background: url('../images/arrow-circle-right-solid.svg') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(1px);
    cursor: pointer;
    transition-property: background;
}

.head-right:hover span {
    background: url('../images/arrow-circle-right-dark.svg') center center no-repeat transparent;
}

.top-down {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    height: 70px;
    border-radius: 12px;
    background: #fff;
}

.nav-list {
    display: flex;
    margin-left: 23px;
}

.nav-item {
    font-size: 16px;
    line-height: 32px;
    font-weight: 450;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    color: var(--main-dark-color);
    transition-property: color;
}

.nav-link:hover {
    color: var(--main-yellow-color);
}

.head-search {
    margin-right: 20px;
    margin-left: auto;
}

.search-form {
    position: relative;
    width: 354px;
}

.search-form-input {
    padding-left: 20px;
    padding-right: 22px;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 354px;
    background-color: #f1f1f1;
}

.search-form-button {
    position: absolute;
    top: 13px;
    right: 21px;
    width: 23px;
    height: 22px;
    border: none;
    background-image: url('../images/search@2x.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    cursor: pointer;
}


/* Main-booking */

.booking-left {
    height: 100%;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-input {
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 24px;
    border: 0;
    border-radius: 12px;
    height: 70px;
    background-color: #fff;
}

.booking-search {
    display: flex;
    align-items: center;
}

.btn-room-search {
    width: 160px;
}

.booking-available-offers {
    margin-left: 32px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--light-grey-color);
}

.booking-number {
    margin-left: 30px;
    color: var(--main-yellow-color);
}

.booking-right {
    height: 100%;
}

.booking-special-offer {
    display: flex;
    flex-direction: column;
    padding: 265px 230px 35px 45px;
    background: url('/images/22@1.5x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.booking-special-name {
    font-size: 66px;
    line-height: 58px;
    font-weight: 700;
    color: #fff;
}

.booking-details {
    display: flex;
    align-items: center;
}

.booking-price {
    margin-top: 40px;
    margin-right: 40px;
    font-size: 35px;
    color: rgb(255, 255, 255, 0.5);
}

.booking-see-more {
    margin-top: 40px;
    font-weight: 16px;
    color: #ffcc66;
    transition-property: color;
}

.booking-see-more:hover {
    color: #fff;
}


/* Main-about-us */

.about-us-container {
    padding-top: 70px;
    padding-right: 245px;
    padding-left: 0;
}

.about-us-header {
    margin-top: 0;
}

.about-us-text {
    margin-top: 23px;
    margin-left: 45px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--light-grey-color);
}


/* Main-services */

.section-services {
    padding-top: 70px;
}

.services-item {
    border-radius: 12px;
    background-color: #fff;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.s-item-1 {
    margin-bottom: 23px;
    background-image: url('/images/10@1.5x.png');
}

.s-item-2 {
    margin-bottom: 23px;
    background-image: url('/images/15@1.5x.png');
}

.s-item-3 {
    background-image: url('/images/12@1.5x.png');
}

.s-item-4 {
    background-image: url('/images/carlo-d-agnolo-aFxSh_l4fbY-unsplash@1.5x.png');
}

.services-link {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: var(--main-yellow-color);
    transition-property: color;
}

.services-link:hover {
    color: var(--main-dark-color);
}

.chevrone-yellow {
    display: inline-block;
    margin-left: 13px;
    width: 10px;
    height: 20px;
    background: url('../images/chevron-right-solid-copy.svg') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(5px);
    transition-property: background;
}

.services-link:hover span {
    background: url('../images/chevron-right-solid-dark.svg') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(5px);
}

.services-description {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 202px;
    padding-bottom: 40px;
}

.services-text {
    font-size: 16px;
    line-height: 32px;
    color: var(--main-dark-color);
}


/* Main-features */

.section-features {
    padding-top: 70px;
}

.features-item {
    padding: 40px 45px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: top left;
    background-origin: content-box;
    background-size: 63px 59px;
    background-color: #fff;
}

.f-item-1 {
    margin-bottom: 23px;
    background-image: url('/images/bathtub.svg');
}

.f-item-2 {
    margin-bottom: 23px;
    background-image: url('/images/hanger.svg');
}

.f-item-3 {
    margin-bottom: 23px;
    background-image: url('/images/heating.svg');
}

.f-item-4 {
    margin-bottom: 23px;
    background-image: url('/images/hotel-key.svg');
}

.f-item-5 {
    background-image: url('/images/parking.svg');
}

.f-item-6 {
    background-image: url('/images/reception.svg');
}

.f-item-7 {
    background-image: url('/images/security-box.svg');
}

.f-item-8 {
    background-image: url('/images/swimming-pool.svg');
}

.features-text {
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--main-dark-color);
}


/* Main-accommodation*/

.section-accommodation {
    padding-top: 70px;
}

.accommodation-item {
    margin-bottom: 26px;
}

.accommodation-item-box {
    background-color: #fff;
    border-radius: 12px;
}

.accommodation-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.accommodation-description {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 37px;
    padding-bottom: 45px;
}

.accommodation-item-top {
    display: flex;
    flex: 1 1 50%;
}

.image-star {
    width: 14px;
    height: 13px;
    transform: translateY(9px);
}

.accommodation-text-1 {
    margin-bottom: 15px;
    margin-right: 40px;
    margin-top: 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--light-grey-color);
}

.accommodation-price {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: var(--header-color);
}

.accommodation-night {
    font-size: 16px;
    line-height: 32px;
    color: var(--header-color);
}

.accommodation-text-2 {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 450;
    line-height: 32px;
    color: var(--header-color);
}

.accommodation-text-3 {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 32px;
    color: var(--light-grey-color);
}

.accommodation-btn {
    display: inline-block;
    padding: 13px 21px;
    border: 1px solid var(--main-yellow-color);
    border-radius: 12px;
    font-weight: bold;
    color: var(--main-yellow-color);
}

.accommodation-item-last {
    position: relative;
    padding-top: 420px;
    height: 100%;
    border-radius: 12px;
    background-image: url('/images/41.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.accommodation-item-all-options {
    margin-left: 38px;
    height: 100%;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    transition-property: color;
}

.accommodation-item-all-options:hover {
    color: #ffcc66;
}

.chevron-white {
    display: inline-block;
    margin-left: 13px;
    width: 10px;
    height: 20px;
    background: url('../images/chevron-right-solid.svg') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(3.5px);
    transition-property: background;
}

.accommodation-item-all-options:hover span {
    background: url('../images/chevron-right-solid-lightyellow.svg') center center no-repeat transparent;
    background-size: contain;
}

.accommodation-item-all-options::before,
.accommodation-item-all-options::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.accommodation-item-all-options:hover::before,
.accommodation-item-all-options:hover::after {
    transform: none;
}


/* Section-contacts*/

.section-contacts {
    padding-top: 70px;
}

.contacts {
    padding-left: 15px;
    padding-right: 15px;
}

.contacts-left {
    padding: 44px;
    border-radius: 12px;
    background-color: #fff;
}

.contacts-item {
    display: flex;
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 1px solid #cccccc;
}

.contacts-item-address {
    padding-top: 0;
}

.contacts-name {
    width: 147px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: var(--light-grey-color);
}

.contacts-details {
    margin-top: 4px;
    width: 239px;
    font-size: 16px;
    line-height: 24px;
    color: var(--header-color);
}

.section-contacts-link {
    color: var(--main-yellow-color);
    transition-property: color;
}

.section-contacts-link:hover {
    color: var(--main-dark-color);
}

.contacts-text {
    margin: 0;
}

.contacts-address {
    font-style: normal;
}

.contacts-text-2 {
    color: var(--light-grey-color);
}

.btn-road {
    display: inline-block;
    margin-top: 45px;
    padding: 28px;
    border: 1px solid var(--main-yellow-color);
    border-radius: 12px;
    width: 215px;
    font-weight: bold;
    color: var(--main-yellow-color);
}

.contacts-right {
    margin-top: 136px;
    padding-right: 180px;
    padding-left: 180px;
}

.textus-form {
    display: flex;
    flex-direction: column;
}

.textus-header {
    margin-left: 35px;
}

.contacts-input {
    margin-bottom: 23px;
    padding: 21px;
    border: 0;
    border-radius: 12px;
    background-color: #fff;
}

.contacts-textarea {
    height: 100px;
}


/* Footer */

.footer-container {
    display: flex;
    margin-top: 23px;
    margin-bottom: 52px;
    border: 0;
    border-radius: 12px;
    height: 339px;
    padding: 50px 50px 0px;
    background-color: var(--header-color);
}

.footer-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 126px;
    width: 300px;
}

.footer-left-list:not(:last-child) {
    margin-bottom: 35px;
}

.footer-left-text,
.footer-address {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
}

.copyright-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url("../images/copyright-regular.svg") center center no-repeat transparent;
    background-size: contain;
    transform: translateY(2px);
}

.footer-left-link,
.footer-contacts-link {
    font-size: 16px;
    line-height: 32px;
    color: var(--main-yellow-color);
}

.footer-link {
    transition-property: color;
}

.footer-link:hover {
    color: #fff;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    width: 520px;
    background-image: url("../images/Sun.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: content-box;
    background-size: 259px 229px;
}

.footer-middle-list:not(:last-child) {
    margin-bottom: 30px;
}

.footer-address {
    font-style: normal;
}

.footer-social-list {
    display: flex;
    flex-direction: column;
}

.footer-social-item {
    margin-bottom: 20px;
}

.footer-social-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: transparent;
}

.footer-social-icon:hover {
    filter: drop-shadow(0 0 5px var(--light-grey-color));
}

.footer-social-icon-trip-adviser {
    background-image: url("../images/tripadvisor@2x.png");
}

.footer-social-icon-twitter {
    background-image: url("../images/twitter@2x.png");
}

.footer-social-icon-facebook {
    background-image: url("../images/facebook@2x.png");
}

.footer-social-icon-vkontakte {
    background-image: url("../images/social@2x.png");
}

.footer-social-icon-google {
    background-image: url("../images/google-plus-social-logotype@2x.png");
}